@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}



@layer components {
    .hover-effect {
        @apply hover:cursor-pointer hover:opacity-75 transition-opacity;
    }

    .carouselItem {
        @apply relative w-full h-[400px] flex-shrink-0 snap-center overflow-hidden outline-none border border-secondary-white dark:border-secondary-dark hover:cursor-grab;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
